*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
      font-style: oblique;
    font-size: 1.2em;
    font-weight: bold;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color:  #30667e;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 60%, 30%);
    background-color: hsl(var(--hue), 30%, 60%);
    border-radius: 5px;
    padding: 5px 10px;
    color: #334d58;
    outline: none;
}

.btn:hover {
border-color: #1b3c4b;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: #335838;
}

.btn.wrong{
    --hue: var(--hue-wrong);
    color:#583333;
}

.start-btn, .next-btn {
    font-size : 1.2em;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display : none;
}